* {
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #2a2d31;
    --secondary-color: lightblue;
    --education-background: #f9bc2f;
    --work-experience: #fd8d30;
    --summary-background: #86C5D8;
    --my-name: 80px;
    --job-name: 40px;
    --contact-details: 35px;
}

.intro-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--secondary-color);
    padding: 0;
    /* font-family:  "Courier Prime", serif; */
}

.intro-list {
    list-style: none;
}

.logo, .list-name-job{
    padding: 30px 35px;
}

.logo > .myPortrait{
    border-radius: 50%;
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.animation-typewriter{
    white-space: nowrap;
    overflow: hidden;
    border-right: 2.5px solid var(--primary-color);
    width: 0;
    animation: type 1s steps(70) 1s 1 normal both, blinkingCursor 500ms steps(70) infinite normal;
}

@keyframes type {
    from {width: 0; }
    to {width: 8ch; }
}

@keyframes blinkingCursor {
    from { border-right-color: var(--primary-color); }
    to { border-right-color: transparent; }
}

.name-list {
    color: var(--primary-color);
    font-size: var(--my-name);
    font-weight: 600;
}

.job-list {
    color: var(--primary-color);
    font-size: var(--job-name);
}

.animation {
    display: inline-block;
    position: relative;
    transform: translate(0);
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

.slide-out {
    transform: translateX(-100%);
    animation-name: slide-in-left;
}

@keyframes slide-in-left {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

.contact-logo {
    list-style: none;
    display: flex;
    gap: 30px;
    font-size: var(--contact-details);
}

a {
    text-decoration: none;
    cursor: pointer;
    color: var(--primary-color); 
}

a:hover {
    color: blue;
}

a:focus {
    color: purple;
}

hr .section1-2 {
    border: 1px solid red;
}

.summary-container {
    background-color: var(--summary-background);
    margin-top: 5px;
    margin-bottom: 5px;
}

.about-me-container {
    padding: 30px 35px;
}

.about-me {
    font-size: 1.5em;
    text-align: center;
}

.different-font {
    color: red;
}
.education-list {list-style-type: circle;}

.education-background {
    padding: 	20px;
    background-color: var(--education-background);
}

.education {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
}
 
.education-list {
    display: flex;
    justify-content: space-around;
}

.first-qualification, .second-qualification {
    margin-bottom: 20px;
}

.education-qualification1, .education-qualification2 {
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 1.5em;
}

.education-courses {
    margin-bottom: 5px;
    font-size: 18px;
}

.scm-course-name-list, .engineering-course-name-list {
    margin-left: 20px;
    font-size: 18px;
}

.skill-status {
    border: 10px solid  #2a2d31;
    width: 70%;
    border-radius: 8px;
}

.frontend, .backend, .frameworks {
    font-size: 30px;
    font-weight: 550;
}

.developer-tool {
    font-size: 20px;
    list-style: none;
    margin-top: 10px;
}

.skill-container {
    display: flex;
    justify-content: space-evenly;
    background-color: var(--work-experience);
}

.skill-container > div {
    padding: 20px 20px;
}